/* checkin.scss */

.checkin{
  .col-center {
    height: 100%;
  }
  .checkin-top {
    margin-top: 20px;
    height: 300px;
    max-height: 50%;
    color: $color-white;
    background-color: $color-primary;
    padding-bottom: 20px;
    @include border-top-radius(5px);
    h2 {
      margin: 0;
      font-size: 18px;
      padding: 20px 0 10px;
    }

    .checkin-map-container {
      height: 100%;
    }
    #map{
    }
  }
  .checkin-bottom {
    background-color: $color-white;
    @include border-bottom-radius(5px);
    
  }

}