/* checkin.scss */

.checkin{
  .col-center {
    height: 100%;
    max-width: 500px;
  }
  h1 {
    font-size: 26px;
    margin: 0;
    padding: 15px 0 10px;
  }
  .checkin-top {
    margin-top: $card-margin-top;
    height: 300px;
    max-height: 50%;
    color: $color-white;
    background-color: $color-primary;
    padding-bottom: 20px;
    @include border-top-radius($card-border-radius);
    .checkin-map-container {
      height: 100%;
    }
    #map{
    }
  }
  .checkin-bottom {
    background-color: $color-white;
    display: none;
    @include border-bottom-radius($card-border-radius);
    padding-bottom: 15px;
    h2 {
      font-size: 20px;
      margin: 0;
      padding: 10px 0 4px;
    }
    .address {
      p {
        margin: 0 10px;
        font-weight: 100;
      }
    }
    .time {
      p {
        margin: 4px 10px 0;
        input {
          padding: 5px;
          width: 100%;
          font-weight: 100;
        }
      }
    }
    .send-location {
      width: 100%;
      margin-top: 15px;
    }
  }
}
.loading-screen {
  text-align: center;
  z-index: 1500;
  background-color: $color-primary;
  position: relative;
  color: $color-white;
  top: 0;
  bottom: 0;
  .logo {
    width: 150px;
    margin: 0 auto;
    padding-top: 25px;
  }
  .status {
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
  }
  .loading {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 0;
    font-size: 0;
    li {
      height: 0;
      position: absolute;
      left: 0;
      width: 0;
      margin: 0;
      height: 10px;
      width: 10px;
      border: 3px solid $color-white;
      border-radius: 100%;
      transform: transformZ(0);
      animation: LOADING 2s infinite;
      &:nth-child(1n) {
        left: -20px;
        animation-delay: 0s;
      }
      &:nth-child(2n) {
        left: 0;
        animation-delay: 0.2s;
      }
      &:nth-child(3n) {
        left: 20px;
        animation-delay: 0.4s;
      }
    }
  }

  @keyframes  LOADING {
    0%   {
      transform: scale(0.5);
      background: white;
    }
    50%   {
      transform: scale(1);
      background: $color-primary;
    }
    100% {
      transform: scale(0.5);
      background: white;
    }
  }
}
