/* form_and_buttons.scss */
form{
  overflow: hidden;
  input{
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-map-menu){
      font-weight: 100;
    }
  }
  input[type="password"],input[type="text"]{
    padding: 5px;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid $color-accent-mainbg;
    &:focus{
      outline-color: $color-primary;
    }
  }
}
.btn {
  transition: $transition-btn-all;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
}
.btn_success {
  background-color: $color-primary;
  color: $color-white;
  &:hover {
    background-color: darken($color-primary, 5%);
    color: $color-white;
  }
}
.btn_info {
  background-color: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;
  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}
.separator {
  text-align: center;
  font-size: 18px;
  line-height: .5;
  margin: 20px 0;
  span {
    position: relative;
    display: inline-block;
    &:after {
      left: 100%;
      margin-left: 15px;
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:before, &:after{
      content: '';
      position: absolute;
      top: 5px;
      width: 125px;
      border-bottom: 1px solid $color-accent-mainbg;
    }
  }
}