/* header.scss */

header {
  padding: 10px;
  height: $header-height;
  background-color: $color-accent;
  color: $color-white;
  z-index: 2;
  @include box-shadow(0, 5px, 10px, rgba(0,0,0,0.3), $inset: false);
  a {
    color: $color-white;
    &:hover{
      color: $color-primary;
    }
  }
  .user {
    float: right;
    .user-login {
      display: none;
      margin-top: 2px;
      a {
        border: 1px solid $color-white;
        font-size: 18px;
        @include border-radius(5px);
        padding: 5px 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover{
          background-color: $color-white;
          color: $color-accent;
          text-decoration: none;
        }
      }
    }
  }
}