/* header.scss */

header {
  padding: 10px;
  height: $header-height;
  background-color: $color-accent;
  color: $color-white;
  z-index: 2;
  @include box-shadow(0, 5px, 10px, rgba(0,0,0,0.2), $inset: false);
  a {
    color: $color-white;
    &:hover{
      color: $color-primary;
    }
  }
  .user {
    float: right;
    .user-login {
      display: none;
    }
  }
}