/* login-register.scss */

.card {
  background-color: $card-bg-color;
  @include border-radius($card-border-radius);
  margin-top: $card-margin-top;
  padding: 20px;
  max-width: 500px;

  h1{
    margin: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
}
.login {

}
.register {
  .btn {
    width: 100%;
  }
 .register-user{
  display: none;
 }
 .register-truck{
  display: none;
 }
}