/* map-menu.scss */

.trucks-nearby {
  overflow: hidden;
  width: 100%;
  top: 100%;
  bottom: 0;
  margin-top: $map-menu-margin-top;
  margin-right: $map-menu-margin-right;
  background-color: $color-mainbg;
  font-weight: 100;
  letter-spacing: .5px;
  transition: top 0.6s ease 0s;
  &.active{
    top: 45%;
  }
  @include box-shadow(0, -0px, 10px, rgba(0,0,0,0.4), $inset: false);
  @media (min-width: $breakpoint-map-menu) {
    top: 0;
    bottom: inherit;
    right: 0;
    width: 250px;
    @include border-radius(5px);
    transition: none;
  }
  .trucks-nearby-header{
    border-bottom: 1px solid $color-accent-mainbg;
    .menu-close {
      float: right;
      color: $color-white;
      i.material-icons{
        margin: 6px;
      }
      @media (min-width: $breakpoint-map-menu){
        display: none;
      }
    }
    h2 {
      font-size: 20px;
      margin: 0;
      background-color: $color-toolbar;
      color: $color-accent-white;
      padding: 8px;
      text-transform: uppercase;
      font-weight: 100;
    }
  }
  .truck-listing {
    overflow-y: scroll;

  }
  .truck {
    padding: 10px 10px 10px 30px;
    border-bottom: 1px solid $color-accent-mainbg;
    @media (min-width: $breakpoint-map-menu){
      padding: 10px 10px 10px 20px;
    }
    &:hover{
      background-color: lighten( $color-mainbg, 5% )
    }
    h3 {
      font-size: 16px;
      margin: 0;
      color: $color-accent-white;
      text-transform: uppercase;
      font-weight: 100;
    }
    .address, .city{
      color: $color-white-subtle;
    }
  }
  .trucks-nearby-footer{
    height: 0px;
    display: none;
    background-color: $color-toolbar;
    border-top: 1px solid $color-accent-mainbg;
    @media (min-width: $breakpoint-map-menu){
      height: 20px;
      display: block;
    }
  }
  /* Scroll Bar */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Scroll Bar Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Scroll Bar Handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 10px;
    background: $color-accent;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}
