/* map-markers.scss */
.leaflet-popup-content-wrapper{
  @include border-radius(5px);
}

.leaflet-popup-close-button+.leaflet-popup-content-wrapper .leaflet-popup-content{
  padding-top: 0px;
}
.leaflet-popup-content {
  padding: 0;
  h3 {
    padding: 10px 20px;
    //background-color: $color-mainbg;
    color: $color-white;
    margin-bottom: 0;
  }
  .info {
    padding: 10px 20px;
  }
}