/* variables.scss */

//Colors
$color-base-txt: #333;

$color-primary: #23ACD1;
$color-accent: #E5574E;
$color-mainbg: #1A3442;
$color-accent-mainbg: #48545D;
$color-toolbar: #0A232D;

$color-white: #fff;
$color-accent-white: #E1E6E8;
$color-white-subtle: #8FA5AB;

//Fonts
$font-base-size: 16px;
$font-sans-serif: 'Lato', sans-serif;

$font-body: $font-sans-serif;
$font-headings: $font-sans-serif;

//Transisions
$transition-btn-all: all 0.3s ease 0s;

//Breakpoints
$breakpoint-map-menu: 825px;

//Modals
$card-border-radius: 5px;
$card-bg-color: $color-white;
$card-margin-top: 20px;

//Heights
$header-height : 50px;
$footer-height : 60px;

$map-menu-margin-top : 40px;
$map-menu-margin-right : 25px;

