<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--STYLES-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">-->
    <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <title>Food Truck Finder</title>
</head>
<body>
<!-- Wrap to push footer down -->
<div id="wrap">
    <!-- Fixed navbar -->
    <header>
        <div class="logo">
            <a href="/">Food Truck Finder</a>
        </div>
        <div class="user">
            <div class="user-login">
                <a href="/login">Sign In</a>
            </div>
            <div class="user-info">

            </div>
        </div>
    </header>
    <!-- Begin page content -->
    <div class="center-container">
        <div class="map-container">
                <div class="trucks-nearby">
                    <div class="trucks-nearby-header">
                        <div class="menu-close">
                            <i class="material-icons">&#xE888;</i>
                        </div>
                        <h2>Food Trucks Nearby</h2>

                    </div>
                    <div id="listings" class="truck-listing">
                        <!--Truck listings will populate from DB here-->
                    </div>
                    <div class="trucks-nearby-footer">
                    </div>
                </div>
            <div id="map">
                <!--Mapbox targets map id to place map-->
                <div class="map-active">
                    <!--Set invisible div to center map on-->
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-nav">
        <div class="nav-item map-checkin"><a href="add-truck-location">Checkin</a></div>
        <div class="nav-item map-list">Show List</div>

    </div>
</footer>
<!--Scripts-->
<script src='/vendors/jquery/jquery.min.js'></script>
<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<script type="text/javascript" src="/assets/scripts/project.min.js"></script>
</body>
</html>