<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--STYLES-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/timepicker/jquery.timepicker.css">
    <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <title>Add Truck Location | Food Truck Finder</title>
</head>
<body>
<!-- Wrap to push footer down -->
<div id="wrap">

    <!-- Fixed navbar -->
    <header>
        <div class="logo">
            <a href="/">Food Truck Finder</a>
        </div>
        <div class="user">
            <div class="user-login">
                <a href="/login">Sign In</a>
            </div>
            <div class="user-info">
                <div class="user-img"><img class="img-responsive" src="/assets/images/blank_user.jpg" alt=""/></div>
                <div class="user-name"></div>
                <div class="user-expand"><i class="material-icons">&#xE5CF;</i></div>
            </div>
        </div>
    </header>
    <div class="user-extended">
        <a class="user-logout" href="#">Sign Out</a>
    </div>
    <!-- Begin page content -->
    <div class="center-container">
        <div class="container-fluid content-container checkin">
            <div class="col-center row">
                <div class="checkin-top col-xs-12">
                    <div class="checkin-map-container">
                        <h1>Add Food Truck</h1>
                        <div id="map">
                            <!--Mapbox targets map id to place map-->

                            <div class="loading-screen">
                                <div class="logo">
                                    <img class="img-responsive" src="/assets/images/logo.png" alt=""/>
                                </div>
                                <div class="loading-animation">
                                    <ul class="loading reversed">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="status">
                                    Finding Location
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkin-bottom col-xs-12">
                    <div class="address">
                        <h2>You are checking in at:</h2>
                        <p></p>
                    </div>
                    <div class="time">
                        <h2>What time will you be leaving?</h2>
                        <p>
                            <input id="setTime" type="text" class="time" />
                        </p>
                    </div>
                    <div class="checkin-btn">
                        <button class="send-location btn btn_success">Submit Location</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>

</footer>
<!--Scripts-->
<script src='/vendors/jquery/jquery.min.js'></script>
<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<script src='/vendors/timepicker/jquery.timepicker.min.js'></script>
<script type="text/javascript" src="/assets/scripts/truck-checkin.min.js"></script>
</body>
</html>