<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--STYLES-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/assets/styles/style.css">
    <title>Login | Food Truck Finder</title>
</head>
<body>
<!-- Wrap to push footer down -->
<div id="wrap">

    <!-- Fixed navbar -->
    <header>
        <div class="logo">
            <a href="/">Food Truck Finder</a>
        </div>
    </header>
    <!-- Begin page content -->
    <div class="center-container">
        <div class="container-fluid content-container">
            <div class="col-center col-sm-6 login card">
                <h1>Sign In</h1>
                <form action="/login" method="post">
                    <div>
                        <label class="sr-only" for="email">email:</label>
                        <input type="text" name="email" id="email" placeholder="Email"/>
                    </div>
                    <div>
                        <label class="sr-only" for="password">Password:</label>
                        <input type="password" name="password" id="password" placeholder="Password"/>
                    </div>
                    <div>
                        <input class="btn btn-positive" type="submit" value="Sign In"/>
                    </div>
                    <div>
                        <a href="/user/create">
                            <input class="btn btn-information" type="button" value="Create Account"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    Footer
</footer>
<!--Scripts-->
<script src='/vendors/jquery/jquery.min.js'></script>
</body>
</html>