<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--STYLES-->
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">-->
    <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <title>Add Truck Location | Food Truck Finder</title>
</head>
<body>
<!-- Wrap to push footer down -->
<div id="wrap">

    <!-- Fixed navbar -->
    <header>
        <a href="/">Food Truck Finder</a>
        <div class="user">
            <div class="user-login">
                <a href="/login">Sign In</a>
            </div>
            <div class="user-info">

            </div>
        </div>
    </header>
    <!-- Begin page content -->
    <div class="center-container">
        <div class="container-fluid content-container checkin">
            <div class="col-center col-sm-6">
                    <div class="checkin-top col-xs-12">
                        <div class="checkin-map-container">
                            <h2>Add Food Truck</h2>
                            <div id="map">
                                <!--Mapbox targets map id to place map-->
                            </div>
                        </div>
                    </div>
                    <div class="checkin-bottom col-xs-12">
                        <div class="address">1234 5th street</div>
                        <div class="checkin-btn">
                            <button class="send-location btn">Submit Location</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<footer>
    Footer
</footer>
<!--Scripts-->
<script src='/vendors/jquery/jquery.min.js'></script>
<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<script type="text/javascript" src="/assets/scripts/truck-checkin.min.js"></script>
</body>
</html>